@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  @apply flex items-center justify-center w-full mx-auto min-h-[100vh];
}

.videos-container {
  @apply w-[90%] mx-auto;
}

.videos-container>h1 {
  @apply text-xl font-semibold text-gray-700;
  letter-spacing: 1px;
}

.videos-container>h1>span {
  color: #1C76FD;
}

.videos-scroll-container::-webkit-scrollbar {
  display: none
}

.videos-scroll-container {
  @apply flex gap-[10px] my-5 gap-[10px];
  white-space: nowrap;
  overflow-x: auto;
  width: calc(100% + 20px);
}

.single-video-container {
  @apply w-[200px] h-[350px] rounded-lg overflow-hidden cursor-pointer;
  flex: none;
}

.single-video-container>video {
  @apply h-full object-cover
}